.game-board {
  font-family: monospace;
  font-size: 12px;
}

.game-cell {
  /* padding: 1px; */
  margin: 0;
  cursor: pointer;
  width: 28px;
  height: 28px;
  text-align: center;
  border: 1px solid white;
}

.game-cell--visible {
  background: white;
  border: 1px solid brown;
  color: brown;
  cursor: default;
}

.game-cell--hidden {
  background: lightgrey;
  color: white;
}

.game-cell--hidden:hover {
  background: green;
}

.game-cell--surrounding-0 {
  border: 1px solid white;
}
